*.class

# Package Files #
*.jar
*.war
*.ear
source/BT/build/*
source/BT/nbproject/private/*
source/testGUI/build/*
source/testGUI/nbproject/private/*
source/testGUI/dist/*
latex/*.bbl
latex/*.blg
latex/*.log
latex/*.toc
/source/BT/nbdist/
/buildSources/*